#main-menu{
    --bg-color: var(--blanco-roto);
    --txt2-color: var(--txt-color);
    --hover-bg: var(--verde-intermedio);
    --hover-txt: var(--verde-clarito);
    --div-color: var(--verde-oscuro);
    --menu-height: 3rem;
}
#main-menu{
    background-color: var(--blanco-roto);
    color: black;
    height: var(--menu-height);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .5em;
    width: 100%;
    position: fixed;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}

#logo{
    margin-left: 2rem;
    width: 150px;
    height: 150px;
}
#cerrar-sesion{
    margin-right: 4rem;
}
h3{
    font-size: 20px;
    font-weight: medium;
}

#popUp-cerrar-sesion{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    border: none;
    padding:2rem 2rem 2rem 2rem;
    border-radius: 30px;
    width: 300px;
    align-items: center;
    justify-content: center;
}
#botones-menu{
    margin-top: 4rem;
    display: flex;
    justify-content: space-between;
}
#cancelar-logout{
    cursor: pointer;
    width: 100px;
    height: 45px;
    padding: 2px 2px 2px 2px;
    border-radius: 7px;
    background-color: var(--verde-oscuro);
    color: var(--blanco-roto);
    font-size: 17px;
    border: none;
}
#enviar-logout{
    cursor: pointer;
    width: 100px;
    height: 45px;
    padding: 2px 2px 2px 2px;
    border-radius: 7px;
    background-color:var(--blanco-roto) ;
    color:var(--verde-oscuro);
    font-size: 17px;
    border: none;
}
