*{
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    color:inherit;
    list-style: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --txt-color: #1E1E1E;
    --verde-oscuro: #2B463C;
    --verde-intermedio: #688F4E;
    --verde-clarito: #B1D182;
    --blanco-roto:#E9E8E4;
    --blanco-recuadros: #fafafa;
}

h2{
    font-size: 25px;
    font-weight: 500;
}

h3{
    font-size: 20px;
    font-weight: 400;
    background-color: transparent;
}
 
section{
    width: 100%;
    height: auto;
    flex-direction: column;
    background-color: var(--blanco-roto);
}
#contenedorTextoAdmin{
    width: 100%;
    height: 10vh;
    background: var(--blanco-roto);
    display: flex;
    align-items: center;
    padding-left: 5vh;
}
#contenedor-personalinfo{
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 5vh;
    margin-right: 5vh;
    background-color: var(--blanco-recuadros);
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 120px;
    border-radius: 30px;
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.35);
}
#texto-personales{
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
}
#foto-perfil{
    margin-left: 2rem;
    width: 100px;
    height: 100px;
}
#editar-perfil{
    margin-right: 2rem;
    width: 50px;
    height: 50px;
}
.texto-personalinfo{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    margin-right: 5rem;
}


#contenedorBarraBusqueda{
    height: 50px;
    margin-left: 5vh;
    margin-right: 5vh;
    padding: 7px 7px 7px 7px;
    background: var(--blanco-recuadros);
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    border-radius: 7px;
}

#barraBusqueda{
    font-size: 17px;
    background: var(--blanco-recuadros);
    width: 75%;
    border: none;
    outline: none;
}
.iconosBarraBusqueda img{
    width: 40px;
    height: 40px;
}

#contenedorItems{
    margin-top: 1rem;
    display: flex;
    justify-content: end;
    align-items: center;
    margin-left: 5vh;
    margin-right: 5vh;
}

.botonesItems{
    width: 40px;
    height: 40px;
    border: none;
    font-size: 32px;
    border-radius: 7px;
    color: var(--blanco-recuadros);
    background: var(--verde-intermedio);
}
#campos{
    margin-top: 3rem;
}

.contenedor-campos{
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 5vh;
    margin-right: 5vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    background-color: var(--blanco-recuadros);
    border-radius: 30px;
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.35);
}
.contenedor-campos2{
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 5vh;
    margin-right: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    background-color: var(--blanco-recuadros);
    border-radius: 30px;
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.35);
}
.nombre-huerto{
    width: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 3rem;
}
.iconos{
    width: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    padding-right: 2em;
}
.iconos img{
    width: 40px;
    height: 40px;
    margin-left: 1rem;
}

#paginas{
    padding-top: 2rem;
    padding-bottom: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#paginas p{
    margin-right: 2rem;
    margin-left: 2rem;
}
#paginas img{
    width: 40px;
    height: 40px;
}

footer{
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--verde-oscuro);
    color: var(--blanco-roto);
}
@media screen and (max-width: 900px) {
    .seleccion{
        margin-left: 1rem;
    }
    .contenedor-usuarios img{
        width: 30px;
        height: 30px;
        margin-left: 1rem;
    }
    @media screen and (max-width: 700px) {
        #foto-perfil{
            margin-left: 1rem;
            width: 65px;
            height: 65px;
        }
        #editar{
            width: 30px;
            height: 30px;
        }
        #texto-personales{
            width: 200px;
            display: flex;
            flex-direction: column;
            align-items: start;
            justify-content: start;
        }
        .texto-personalinfo{
            margin-top: 0.5rem;
            flex-direction: row;
            align-items: center;
            justify-content: start;
        }
    }
}
