@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&display=swap');
*{
    text-decoration: none;
    color:inherit; 
    list-style: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --txt-color: #1E1E1E;
    --verde-oscuro: #2B463C;
    --verde-intermedio: #688F4E;
    --verde-clarito: #B1D182;
    --blanco-roto:#E9E8E4;
    --blanco-recuadros: #fafafa;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Montserrat';
    background-color: var(--blanco-roto);
    color: var(--txt-color);
}

section{
    width: 100%;
    height: 100vh;
}

h1{
    margin-top: 4rem;
    font-size: 30px;
    font-weight: medium;
}
h2{
    margin-top: 2rem;
    font-size: 22px;
    font-weight: normal;
}
h3{
    font-size: 20px;
    font-weight: medium;
}
p{
    font-size: 17px;
    font-weight: normal; 
}
.contenedor-go-top{
    position: fixed;
    bottom: 0.5rem;
    right: 0.5rem;
    width: 4rem;
    height: 4rem;
    z-index: -1;
}
.boton-go-top{
    width: 0rem;
    height: 0rem;
    background: var(--verde-clarito);
    border-radius: 50%;
    cursor: pointer;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}
.boton-go-top #flecha-subir{
    position: absolute;
    font-size: 1.7rem;
    width: 3rem;
    height: 3rem;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    color: #fff;
    transition: .2s;
}
.show{
    z-index: 10;
}
.show .boton-go-top{
    animation: popup .3s ease-in-out;
    width: 4rem;
    height: 4rem;
    z-index: 11;
}

.show #flecha-subir{
    transform: translate(-50%, -50%) scale(1);
}

@keyframes popup{
    0%{
        width: 0rem;
        height: 0rem;
    }
    50%{
        width: 8rem;
        height: 8rem;
    }
    100%{
        width: 4rem;
        height: 4rem;
    }
}

.introduccion{
    background-image: url('../images/fondo-landing-v2.png');
    background-color: #D9DED8 ;
    background-size: cover;
    background-position: -500px 70px;
    background-repeat: no-repeat;
}
#contenedor-texto{
    margin-left: 2rem;
    width: 350px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.boton-descubrenos{
    cursor: pointer;
    margin-top: 4rem;
    width: 190px;
    height: 60px;
    padding: 2px 2px 2px 2px;
    border-radius: 7px;
    background-color: var(--verde-oscuro);
    color: var(--blanco-roto);
    font-family: 'Montserrat';
    font-size: 20px;
    border: none;
}

#nuestros-servicios{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding-left: 2rem;
    padding-right: 2rem;
}
#nuestros-servicios h2{
    font-weight: medium;
}
#imagenes-y-texto{
    display: flex;
    margin-top: 2rem;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.contenedor-informacion{
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
}
.contenedor-informacion img{
    width: 75px;
    height: 75px;
}
.texto{
    margin-left: 2rem;
}
#resenyas{
    background-color: #D9DED8;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding-left: 2rem;
    padding-right: 2rem;
}

.tarjeta-resenya{
    height: 400px;
    margin-top: 5vh;
    margin-bottom: 5vh;
    padding-left: 2rem;
    padding-right: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    z-index: 0;
    background-color: var(--blanco-recuadros);
    box-shadow: 5px 5px 13px 0px rgba(0, 0, 0, 0.35);
}
.tarjeta-resenya h3{
    margin-top: 1rem;
}

.tarjeta-resenya p{
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: center;
}
.carrusel-list{
    margin-top: 1rem;
    position: relative;
    display: flex;
    align-items: center;
    width: fit-content;
    width: 100%;
    overflow: hidden;
}
.carrusel-track{
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    justify-content: start;
    transition: .5s ease-in-out;
}
.carrusel{
    position: relative;
    width: 270px;/*210*/
    padding: 0 18px;
    float: left;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding-bottom: 2rem;
}
.carrusel-arrow{
    border-radius: 30px;
    background-color: var(--verde-clarito);
    position: absolute;
    z-index: 4;
    width: 50px;
    height: 50px;
    text-align: center;
    border: 0;
    cursor: pointer;
}
.carrusel-arrow:focus{
    outline: 0;
}
.carrusel-arrow svg{
    width: 12px;
    height: 100;
    color: rgba(255, 255, 255, 0.7);
}
.carrusel-prev{
    left: 0;
}
.carrusel-next{
    right: 0;
}
.persona{
    margin-top: 1rem;
    width: 100px;
    height: 100px;
}

.boton-contactanos{
    cursor: pointer;
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 190px;
    height: 60px;
    padding: 2px 2px 2px 2px;
    border-radius: 7px;
    background-color: var(--verde-oscuro);
    color: var(--blanco-roto);
    font-family: 'Montserrat';
    font-size: 15px;
    border: none;
    z-index: 4;
}
footer{
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--verde-oscuro);
    color: var(--blanco-roto);
}
@media screen and (min-width: 600px) {
    .introduccion{
        background-position: center 70px;
    }
    .tarjeta-resenya{
        width: 450px;
    }
    @media screen and (min-width: 750px) {
        /* Estilos para pantallas más grandes que 750px */
        h1{
            font-size: 32px;
        }
        h2{
            margin-top: 3rem;
            font-size: 24px;
        }
        h3{
            font-size: 22px;
        }
        p{
            font-size: 18px;
            margin-top: 1rem;
        }
        #contenedor-texto{
            width: 400px;
            margin-left: 10%;
        }
        #imagenes-y-texto{
            margin-top: 2rem;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content:space-between;
            align-items: start;
        }
        .contenedor-informacion{
            margin-top: 2rem;
            width: 170px;
            display: flex;
            flex-direction: column;
            justify-content: start;
            align-items: center;
        }
        .texto{
            padding-left: 1rem;
            padding-right: 1rem;
        }
        .contenedor-informacion img{
            width: 100px;
            height: 100px;
        }
    }
    
    @media screen and (min-width: 950px) {
        h1{
            font-size: 40px;
        }
        h2{
            font-size: 30px;
        }
        h3{
            font-size: 22px;
        }
        p{
            font-size: 17px;
        }
        #contenedor-texto{
            width: 500px;
            margin-left: 15%;
        }
        .contenedor-informacion{
            width: 220px;
        }
        .boton-contactanos{
            margin-top: 3rem;
        }
        
    }  
    @media screen and (min-width: 1100px) {
        h1{
            font-size: 50px;
        }
        h2{
            font-size: 35px;
        }
        h3{
            font-size: 20px;
        }
        #contenedor-texto{
            width: 600px;
            margin-left: 10%;
        }
        .introduccion{
            background-position: 25px 25px;
            background-repeat: no-repeat;
        }
        #imagenes-y-texto{
            margin-left: 10%;
            margin-right: 10%;
        }
        .contenedor-informacion img{
            width: 150px;
            height: 150px;
        }
        .texto{
            margin-top: 2rem;
        }
    }  
    @media screen and (min-width: 1250px) {
        #imagenes-y-texto{
            margin-top: 5rem;
        }
        .contenedor-informacion{
            width: 350px;
        }
    }  
      
}