section{
    width: 100%;
    height: 100vh;
}
h2{
    margin-top: 2rem;
    font-size: 22px;
    text-decoration: none;
    font-weight: normal;
}
h3{
    font-size: 20px;
    text-decoration: none;
    font-weight: medium;
}
p{
    font-size: 17px;
    text-decoration: none;
    font-weight: normal; 
}

#resenyas{
    background-color: #D9DED8;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
   
}
.carrusel-list{
    position: relative;
    display: flex;
    align-items: center;
    
    width: fit-content;
    border: 2px solid red;
    width: 100%;
    overflow: hidden;
}
.carrusel-track{
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    justify-content: start;
    transition: .5s ease-in-out;
    border: 2px solid blue;
}
.carrusel{
    position: relative;
    width: 270px;/*210*/
    padding: 0 18px;
    float: left;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding-bottom: 2rem;
    border: 2px solid yellow;
}
.tarjeta-resenya{
    margin-top: 5vh;
    width: 300px;
    padding-left: 2rem;
    padding-right: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    background-color: var(--blanco-recuadros);
    box-shadow: 5px 5px 13px 0px rgba(0, 0, 0, 0.35);
}
.tarjeta-resenya h3{
    margin-top: 9vh;
}
.tarjeta-resenya img{
    margin-top: 8vh;
}
.tarjeta-resenya p{
    margin-top: 8vh;
    margin-bottom: 9vh;
    text-align: center;
}
.boton-contactanos{
    margin-top: 4rem;
    width: 190px;
    height: 60px;
    padding: 2px 2px 2px 2px;
    border-radius: 7px;
    background-color: var(--verde-oscuro);
    color: var(--blanco-roto);
    font-family: 'Montserrat';
    font-size: 15px;
    border: none;
}
.carrusel-arrow{
    border-radius: 30px;
    background-color: var(--verde-oscuro);
    position: absolute;
    z-index: 4;
    width: 50px;
    height: 50px;
    text-align: center;
    border: 0;
    cursor: pointer;
}
.carrusel-arrow:focus{
    outline: 0;
}
.carrusel-arrow svg{
    width: 12px;
    height: 100;
    color: rgba(0, 0, 0, 0.7);
}
.carrusel-prev{
    left: 0;
}
.carrusel-next{
    right: 0;
}

@media screen and (min-width: 600px) {
    .tarjeta-resenya{
        width: 450px;
    }
    @media screen and (min-width: 750px) {
        /* Estilos para pantallas más grandes que 750px */
       
        h2{
            margin-top: 3rem;
            font-size: 24px;
        }
        h3{
            font-size: 22px;
        }
        p{
            margin-top: 1rem;
            font-size: 18px;
        }
        .carrusel{
            width: 275px;
        }
    }
    
    @media screen and (min-width: 950px) {
        h2{
            font-size: 30px;
        }
        h3{
            font-size: 25px;
        }
        p{
            font-size: 19px;
        }
        .boton-contactanos{
            margin-top: 3rem;
        }
    }  
    @media screen and (min-width: 1100px) {
        
        h2{
            font-size: 35px;
        }
        h3{
            font-size: 30px;
        }
        p{
            font-size: 20px;
        }
    }  
    @media screen and (min-width: 1250px) {
        #imagenes-y-texto{
            margin-top: 5rem;
        }
        .contenedor-informacion{
            width: 350px;
        }
    }    
}