@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&display=swap');

*{
    text-decoration: none;
    color:inherit; 
    list-style: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
body{
    font-family: 'Montserrat';
    background-color: var(--blanco-roto);
    color: var(--txt-color);
}
/* Estilos para el header */
header {
  height:80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border-bottom: 1px solid gray;
  padding: 20px;
}
header a {
  color: black;
  text-decoration: none;
}

.logo{
  width: 140px;
  height: 140px;
}
.logout{
  width: 33px;
  height: 33px;
}


.logout{
  display: none;
}


header img:last-child {
  margin-left: auto;
}
h3{
    font-size: 18px;
    text-decoration: none;
    font-weight: 400;
}
h2{
    font-size: 20px;
    text-decoration: none;
    font-weight: medium;
}
   /* Estilos para la sección Huertos */
   .Huertos {
      background-color: #E9E8E4;
      display: flex;
      flex-direction: column;
      align-items: center; /* Cambiado de "flex-start" a "center" */
      justify-content: center;
      height: 68vh;
      padding: 20px;
    }
  
    .Título {
      height: 22vh;
      display: flex;
      align-items: end; /* Centrar título en el subheader */
      text-align: start;
      background-color: #E9E8E4;
      box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
      border:1px solid gray;
      
    }
  
    .Título h2 {
      font-size: 30px;
      margin-left: 170px;
      margin-bottom:20px;
      display:flex;
      
     
      
   
      
    }
  
  /* Estilos para los botones */
  .Botones {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    text-align: center;
  }
  
  button {
    width: 600px;
    height: 80px;
    border: none;
    background-color: #FFFFFF;
    color: #000000;
    font-family: 'Montserrat Medium', sans-serif;
    font-size: 24px;
    padding: 20px;
    border-radius: 30px;
    display: inline-flex; /* Cambiado de "flex" a "inline-flex" */
    align-items: center;
    justify-content: center;
    margin-bottom: 58px;
    
  }
  
  button img {
    margin-right:200px; /* Ajustar el espacio entre la imagen y el texto */
    width: 50px;
    height: 50px;
    
  }
  .Ajustar {
    text-align: center;
    margin-right: 200px;
  }
  
  button:hover {
    cursor: pointer;
    background-color: #C5CFDB;
  }
  
  /* Estilos para el footer */
  
  footer {
    background-color: #2B463C;
    color: #FFFFFF;
    text-align: center;
    padding: 20px;
    height:100%;
  }
  
  /* Estilos para móvil */
  @media only screen and (max-width: 600px) {
  
  
  /* Ajustar posición de imagen de logout */
  header img:last-child {
    margin-left: 0;
    margin-right: 20px;
    
  }
  .logout-link {
      display: inline-block;
      background-image: url('../images/LogOutBueno.svg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      width: 33px;
      height: 33px;
      text-indent: -9999px;
    }
  /* Ajustar título */
    .Título {
      display: flex;
      justify-content: center;
      text-align: center;
    }
  
    .Título h2 {
      margin-bottom:20px;
      margin-right:110px;
    }
  /* Ajustar tamaño de botones */
  button {
    max-width: 400px;
  }
  button img {
    margin-right:100px; /* Ajustar el espacio entre la imagen y el texto */
    
    
  }
  .Ajustar {
   
    margin-right: 100px;
  }
  
  
  }