@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&display=swap');
*{
  text-decoration: none;
  color:inherit; 
  list-style: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  --txt-color: #1E1E1E;
  --verde-oscuro: #2B463C;
  --verde-intermedio: #688F4E;
  --verde-clarito: #B1D182;
  --blanco-roto:#E9E8E4;
  --blanco-recuadros: #fafafa;
}
html{
  scroll-behavior: smooth;
}
body{
  font-family: 'Montserrat';
  background-color: var(--blanco-roto);
  color: var(--txt-color);
}

h3{
    font-size: 18px;
    text-decoration: none;
    font-weight: 400;
}
h2{
    font-size: 20px;
    text-decoration: none;
    font-weight: medium;
}
   /* Estilos para la sección Huertos */
.Huertos {
  background-color: var(--blanco-roto);
  display: flex;
  flex-direction: column;
  align-items: end; /* Cambiado de "flex-start" a "center" */
  justify-content: center;
  height: 68vh;
  padding: 20px;
}
  
.Título {
    height: 16vh;
    display: flex;
    align-items: end; /* Centrar título en el subheader */
    text-align: start;
    background-color: var(--blanco-roto);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
    border:1px solid gray;
      
}
  
.Título h2 {
  margin-left: 2rem;
  font-size: 30px;
  margin-bottom:20px;
  display:flex;
}
  
  /* Estilos para los botones */
  .Contenedor-Botones {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    text-align: center;
  }
  
  .huertos-usuario {
    width: 600px;
    height: 80px;
    border: none;
    background-color: var(--blanco-recuadros);
    color: var(--txt-color);
    font-family: 'Montserrat Medium', sans-serif;
    font-size: 24px;
    padding: 20px;
    border-radius: 30px;
    display: inline-flex; /* Cambiado de "flex" a "inline-flex" */
    align-items: center;
    justify-content: center;
    margin-bottom: 58px;
    
  }
  
  .huertos-usuario img {
    margin-right:200px; /* Ajustar el espacio entre la imagen y el texto */
    width: 50px;
    height: 50px;
    
  }
  .Ajustar {
    text-align: center;
    margin-right: 200px;
  }
  
  .huertos-usuario:hover {
    cursor: pointer;
    background-color: var(--verde-clarito);
  }
  
  /* Estilos para el footer */
  
  footer {
    margin-top: 3rem;
    background-color: var(--verde-oscuro);
    color: var(--blanco-recuadros);
    text-align: center;
    padding: 20px;
    height:100%;
  }
  
  /* Estilos para móvil */
  @media only screen and (max-width: 600px) {
  
  /* Ajustar título */
    .Título {
      height: 14vh;
      display: flex;
      justify-content: start;
      text-align: center;
    }
  
    .Título h2 {
      margin-bottom:20px;
      margin-left:2rem;
    }
  /* Ajustar tamaño de botones */
  .huertos-usuario {
    max-width: 400px;
  }
  .huertos-usuario img {
    margin-right:100px; /* Ajustar el espacio entre la imagen y el texto */

  }
  .Ajustar {

    margin-right: 100px;
  }
  
  }